/* -----UC1.1------ */
body{
    width: auto;
    height:100%;
}

.header{
    padding: 50px 0;
    background-color: blueviolet;
}

.header-front{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid orange;
}

.logo-content{ 
    font-size: 22px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items:center;
    border: 0px solid orange;
    border-width:80% ; 
    margin-left: 5%;

}
.add-text{
    font: normal bold 100px/155px ;
    font-family: Roboto;
    letter-spacing: 0px;
    color: blue;
    text-transform: capitalize;
    margin-left: 10px;
   }

.book-text{
    color: black;
}
/* -----UC1.2------ */
.form-content {
    min-height: calc(50% - 100px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form{
    width: 60%;
    background-color: white;
    box-shadow: 0px 3px 6px;
    border-radius: 8px;
    opacity: 1;
}

.div{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.form-head {
    display: flex;
    background: #008cff 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 10px 10px;
    opacity: 1;
    padding: 25px;
}
.form-head-text {
    flex: 6;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font: normal normal normal 25px/30px Roboto;
    letter-spacing: 0px;
    color:white;
    text-transform: uppercase;
    opacity: 1;
}
 /* -----UC1.3------ */
.row-content{
    display:flex;
    flex-direction:row;
    margin-bottom: 20px;
    align-items: center;
    padding: 0px;
    border: 0px solid blue;
}

.input[type=text]{
    width: 90%;
    border: 2px;
    border-radius: 2px;
    margin: 30px;
    padding: 8px;
    border-color: dodgerblue;
    box-shadow: 0px 0px 8px 0px dodgerblue;
}
select{
    width: 90%;
    align-items: center;
    border: 2px;
    padding: 7px;
    resize: vertical;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    margin: 30px;
    background-color: transparent;
    box-shadow: 0px 0px 2px 0px
}
input[type=text]{
    width: 90%;
    border: 2px;
    align-items: center;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 1px;
    border-color: light black;
    margin: 30px;
    padding: 8px;
}
 /* -----UC1.4------ */
error-output {
    margin-left: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;
}
/* -----UC1.5------ */
.add-reset{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 10px;
}

.button{
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: black;
    border: none;
    opacity: 1;
    background: transparent;
    font-weight: 400;
    min-width: 100px;
    padding: 3px 3px;
    border: 0px solid black;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px
}
.submitButton{
    border-radius: 5px;
    margin-left: 50%;
}

.resetButton{
    border-radius: 5px;
    margin-right:20% ;
}

*{box-sizing: border-box;}